@media screen and (max-width: 768px){

}

@media screen and (min-width: 1900px){
	:root{
	
    --padding-default: 352px;
	}
}


@media screen and (max-width: 1180px) {
  :root{
		--fs-LOGO: 30px;

		--fs-titulo700: 22px;
		--lh-titulo700: 25.83px;
		--fs-subt400: 16px;
		--lh-subt400: 18.78px;
		--fs-content-titulo700: 22px;
		--lh-content-titulo700: 25.83px;
		--fs-content-P: 14px;
		--lh-content-P: 16.44px;

		--padding-default: 122px;
		--padding-sobreMin: 0;

		--foto-width: 146px;
		--foto-height: 146px;
	}
	
}

@media screen and (max-width: 500px) {
  :root{
		--padding-cabe: 16px;
		--padding-default: 16px;
		--padding-sobreMin: 0;

		--fs-incones-medias-sociais: 25px;
		--foto-width: 98px;
		--foto-height: 98px;

		
	}
	.app{
		gap: 0px;
	}
	.conteudo{
		gap: 0px
	}
	.cabecalho{
    padding: 10px var(--padding-default);
  }
	
	.cabecalho__nav___lista_items a{
		font-size: smaller;
	}
	
}
@media screen and (max-width: 330px){
	:root{
		--fs-LOGO: 20px;

		--fs-titulo700: 14px;
		--lh-titulo700: 14px;
		--fs-subt400: 12px;
		--lh-subt400: 14px;
		--fs-content-titulo700: 16px;
		--lh-content-titulo700: 25.83px;
		--fs-content-P: 14px;
		--lh-content-P: 16.44px;

		--foto-width: 0px;
		--foto-height:0px;
	}
}
