@media screen and (max-width: 768px) {
  :root{
		--fs-titulo700: 22px;
		--lh-titulo700: 25.83px;
		--fs-subt400: 16px;
		--lh-subt400: 18.78px;
		--fs-content-titulo700: 22px;
		--lh-content-titulo700: 25.83px;
		--fs-content-P: 14px;
		--lh-content-P: 16.44px;

		--padding-default: 122px;
	}
	
}

@media screen and (max-width: 500px) {
  :root{
		--padding-cabe: 16px;
		--padding-default: 16px;
	}
	
}

