.cabecalho{
  padding: 32px var(--padding-cabe);
  
}

.cabecalho .container{
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalho__logo{
  width: 10px;
  height: 10px;
  
}


.cabecalo__nav___ul{
  display: flex;
  flex-wrap: wrap;
  
}

.cabecalho__nav___lista_items a{
  color: black;
  text-decoration: none;
  margin-left: 32px;
  font-weight: 500;
  font-size: var(--fs-content-P);
  line-height: 24px;
}
