.cabecalho{
  padding: 32px var(--padding-default);
  
}

.cabecalho .container{
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalho__logo{
  font-family: 'Babylonica', cursive;
  font-size: var(--fs-LOGO);
  
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cabecalo__nav___ul{
  display: flex;
  flex-wrap: wrap;
  
}

.cabecalho__nav___lista_items a{
  color: black;
  text-decoration: none;
  margin-left: 32px;
  font-weight: 500;
  font-size: var(--fs-content-P);
  line-height: 24px;
}

@media screen and (max-width: 1260px){

  .cabecalho__nav___lista_items:not(:nth-child(6)){
    display: none;
  }

}