.cabecalho{
  padding: 32px var(--padding-default);
}
.cabecalho .container{
  display: flex;
	align-items: center;
	justify-content: space-between;
}
.cabecalho__logo{
  font-family: 'Babylonica', cursive;
  font-size: var(--fs-LOGO);
  font-weight: bold;
  padding: 0 1%;
  
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cabecalho__linguas{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5%;
  padding: 5px;
}
.cabecalho__linguas a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5%;
  padding: 5px;
}
.cabecalho__linguas:hover{
  background-color: var(--btn-hover);
}
.pt{
  background-color: var(--btn-blue);
}
.en{
  background-color: var(--btn-hover);
}

.cabecalo__nav___ul{
  display: flex;
  flex-wrap: wrap;
}
.cabecalho__nav___lista_items{
  transition: all 500ms;
}

.cabecalho__nav___lista_items a{
  color: var(--color-default);
  text-decoration: none;
  margin-left: 32px;
  font-weight: 500;
  font-size: var(--fs-content-P);
  line-height: 24px;
  
}
.cabecalho__nav___lista_items:hover:not(:nth-child(6)) a{
  text-shadow: 2px 0 0 #ff4500, -2px 0 0 #ff4500, 0 2px 0 #ff4500, 0 -2px 0 #ff4500, 1px 1px #ff4500, -1px -1px 0 #ff4500, 1px -1px 0 #ff4500, -1px 1px 0 #ff4500;
  color: white;
}
.cabecalho__nav___lista_items:hover:nth-child(6) a{
  text-shadow: 2px 0 0 #ff4500, -2px 0 0 #ff4500, 0 2px 0 #ff4500, 0 -2px 0 #ff4500, 1px 1px #ff4500, -1px -1px 0 #ff4500, 1px -1px 0 #ff4500, -1px 1px 0 #ff4500;
  color: white;
}

@media screen and (max-width: 1260px){

  .cabecalho__nav___lista_items:not(:nth-child(5)){
    display: none;
    
  }

}

@media screen and (max-width: 330px){
  
  .cabecalho__nav___lista_items{
    display: none;
  }
  .cabecalho .container{
    justify-content: center;
  }
}