.formacao{
  background-color: #EAF2FD;
  padding: 64px 0;

 
}

.formacao__titulo{
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-content-titulo700);
	line-height: var(--lh-content-titulo700);
  margin-bottom: 16px;
}

.formacao__figure__box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.formacao__figure{
  margin: 1%;
}
.formacao__figure p{
  line-height: var(--lh-subt400);
}

.formacao__figure__imagem{
  width: 368px;
	height: 286px;
  object-fit: scale-down;
	background-color: white;
	line-height: 30px;
}

.formacao__figure__caption{
  font-size: var(--fs-subt400);
  line-height: var(--lh-subt400);
  font-weight: bold;
}

@media screen and (max-width: 330px){
  .formacao__figure__imagem{
    width: 330px;
	  height: 286px;
  }
}