.hero{
  grid-area: hero;
  display: flex;
  justify-content: center;
  padding: 38.5px var(--padding-default);
  /* margin-bottom: 70.5px; */

  /* background-color: antiquewhite; */
  border: 1px solid red;
}


.hero__box___titulo{
  font-weight: 700;
  font-size: var(--fs-titulo700);
  line-height: var(--lh-titulo700);
  text-align: center;
  margin-bottom: 24px;
}

.hero__box___subtitulo{
  font-weight: 400;
  font-size: var(--fs-subt400);
  line-height: var(--lh-subt400);
  text-align: center;
  margin-bottom: 24px;
  
}

.hero__box___mediaLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 22px 0;
  
}