footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape{
  grid-area: rodape;
  height: 70px;
  font-size: var(--fs-content-P);
  line-height: var(--lh-content-P);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}