.skills{
  grid-area: skills;
  padding: 64px 0;

	/* border: 1px solid red; */
}

.skills__titulo{
  text-align: center;
  font-weight: 700;
  font-size: var(--fs-content-titulo700);
	line-height: var(--lh-content-titulo700);
  margin-bottom: 16px;
}

.skills__cards {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
	justify-content: center;
}
.skills__cards___link h3{
	color: #FFF;
	background-color: #000;
	text-align: center;
	opacity: 0.5;
}

.skills__cards___link {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	width: 180px;
	height: 180px;
	margin: 1% 1% 3% 1%;
	line-height: 30px;

	font-weight: bold;
	transition: .3s;
	border-radius: 5px 5px 0 0;


}

.skills__cards___link:hover {
	box-shadow: 5px 5px 0px rgb(0, 0, 0);
}
/* url - center / cover no-reapet */
.skills__cards___link:nth-child(1){
	background: #FFF url(../img/HTML-svg.svg) center / 20% no-repeat;
}
.skills__cards___link:nth-child(2) {
	background: #FFF url(../img/CSS-svg.svg) center / 20% no-repeat;
}
.skills__cards___link:nth-child(3) {
	background: #FFF url(../img/JS-svg.svg) center / 20% no-repeat;
}
.skills__cards___link:nth-child(4) {
	background: #FFF url(../img/GIT-svg.svg) center / 20% no-repeat;
}
.skills__cards___link:nth-child(5) {
	background: #FFF url(../img/GITHUB-svg.svg) center / 20% no-repeat;
}

.cards--hobbies:nth-child(1) {
	background: #FFF url(../img/guitar.svg) center / 20% no-repeat;
}
.cards--hobbies:nth-child(2) {
	background: #FFF url(../img/music-svg.svg) center / 20% no-repeat;
}
.cards--hobbies:nth-child(3) {
	background: #FFF url(../img/controller-svg.svg) center / 20% no-repeat;
}
.cards--hobbies:nth-child(4) {
	background: #FFF url(../img/MICROFONE-svg.svg) center / 13% no-repeat;
	font-size: smaller;
}
.cards--hobbies:nth-child(5) {
	background: #FFF url(../img/controller-svg.svg) center / 20% no-repeat;
}

@media screen and (max-width: 768px){
	.skills__cards___link{
		width: 100px;
		height: 100px;
	}
}
@media screen and (max-width: 330px){
	.skills__cards___link{
		width: 330px;
		height: 286px;
	}
	.skills__cards{
		justify-content: flex-start;
	}
	.skills__cards___link{
		margin: 2%;
	}
	
}

