
.aboutMe{
  grid-area: aboutMe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px var(--padding-default);
 
  background-color: #EAF2FD;
  
}


.aboutMe__box{
  padding-right: var(--padding-sobreMin);
}

.aboutMe__titulo{
  text-align: left;
  font-weight: 700;
  font-size: var(--fs-content-titulo700);
  line-height: var(--lh-content-titulo700);
  margin-bottom: 16px;
  
}

.aboutMe__paragrafo{
  text-align: justify;
  font-weight: 400;
  font-size: var(--fs-content-P);
  line-height: var(--lh-content-P);
  margin-bottom: 16px;
  
}

.aboutMe__assinatura{
  font-size: var(--fs-LOGO);
  text-align: left;
  font-family: 'Babylonica', cursive;
}

@media screen and (max-width: 330px){
  .aboutMe, .aboutMe__box{
    padding: 2%;
  }
}