

html {
  scroll-behavior: smooth;
}

body{
  /* width: 100vw; */
  background-color: #F5F5F5;
  /* color: white;
  background-image: linear-gradient(to bottom right, #3b3b4b, #000000); */
}


.app{
  display: grid;
  grid-template-areas: 
  "cabecalho"
  "conteudo"
  "rodape";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  gap: 32px;
  
}

.cabecalho{
  grid-area: cabecalho;
  
}

.conteudo{
  grid-area: conteudo;
  display: grid;
  gap: 32px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "hero"
  "aboutMe"
  "skills"
  "formacao"
  "projetos"
  "contato"
  "footer";

  /* border: 1px solid rgb(87, 248, 120); */
  
}

.rodape{
  grid-area: rodape;
  
}

.container{
  /* width: 78.89%; */
	margin: 0 0;
}


