::-webkit-scrollbar{
	width: 0.75rem;
}

::-webkit-scrollbar-track{
	background: #3b3b4b;
}
::-webkit-scrollbar-thumb{
	background: #fe8631;
}
::-webkit-scrollbar-thumb:hover{
	background: #fe8631;
}

@supports(scrollbar-color: red blue){
	*{
		scrollbar-color:#fc6a03 #3b3b4b;
		scrollbar-width: thin;

	}
}
html {
  scroll-behavior: smooth;
}

body{
  /* width: 100vw; */
  background-image: var(--bg-principal);
  color: var(--color-default);
  /* color: white;
  background-image: linear-gradient(to bottom right, #3b3b4b, #000000); */
}


.app{
  display: grid;
  grid-template-areas: 
  "cabecalho"
  "conteudo"
  "rodape";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  gap: 32px;
}
.app:last-child{
  gap: 0px;
}

.cabecalho{
  grid-area: cabecalho;
  
}

.conteudo{
  grid-area: conteudo;
  display: grid;
  gap: 32px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "hero"
  "aboutMe"
  "skills"
  "formacao"
  "projetos"
  "contato"
  "footer";
}

.container{
  /* width: 78.89%; */
	margin: 0 0;
}


